html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title NetsBlox
    body
        .blue-grey.lighten-5.valign-wrapper(style="height:100%")
            .container
                .row
                    .col.s12.m8.offset-m2.l6.offset-l3
                        .card
                            .card-content
                                img.logo.img-responsive(width="60px" src="./full_logo.png" alt="NetsBlox")
                                br
                                br
                                span.card-title Lookup Username
                                .row
                                    .input-field
                                        input#email(type="text")
                                        label(for="email") Email
                                .row
                                button#lookup.btn.waves-effect.waves-light Lookup
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js")
        script(src="./common.js")
        script var config = {
            |   cloud: getQueryStringValue('url') || '#{CLOUD_URL}',
            |   redirect: getQueryStringValue('redirect') || '#{REDIRECT_URL}',
            |   editor: getQueryStringValue('editor') || '#{EDITOR_URL}',
            | };
        script(src="./lib/api.js")
        script(src="./forgot-username.js")
