html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title NetsBlox
    body
        .blue-grey.lighten-5.valign-wrapper(style="height:100%")
            .container
                .row
                    .col.s12.m8.offset-m2.l6.offset-l3
                        .card
                            .card-content
                                img.logo.img-responsive(width="60px" src="./full_logo.png" alt="NetsBlox")
                                br
                                br
                                span.card-title Sign In to NetsBlox
                                .row
                                    .input-field
                                        input#username(type="text")
                                        label(for="username") Username
                                .row
                                    .input-field
                                        input#password(type="password")
                                        label(for="password") Password
                                .row
                                button#login.btn.waves-effect.waves-light Login
                        a#register(href="/register.html")  Sign up
                        span(style="padding-right:10px; padding-left:10px") |
                        a#register(href="/register.html")  Forgot Password?
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js")
        script(src="./common.js")
        script var config = {
            |   cloud: getQueryStringValue('url') || '#{CLOUD_URL}',
            |   redirect: getQueryStringValue('redirect') || '#{REDIRECT_URL}',
            |   editor: getQueryStringValue('editor') || '#{EDITOR_URL}',
            | };
        script(src="./index.js")
        script(src="./lib/cloud.js")
